---
const currentYear = new Date().getFullYear();
---

<footer id="footer" class="p-4 text-black border-0"
        style="background-color: #950014; background-image: url('/images/theme/BottomBanner20080202.jpg'); background-repeat: no-repeat; background-position: -43px bottom;">
  <div class="flex justify-between items-end min-h-[100px]">
    <p class="text-white">
      Copyright &copy; {currentYear} <a href="/" class="text-white font-bold no-underline hover:underline">Trish Reske's StoryLines Blog</a>.<br />
      Memorial archive maintained with love.
    </p>
  </div>
</footer>
