---
---

<div class="border-b border-gray-400 py-5 bg-white">
  <p class="text-center text-[13px] leading-[1.4em] m-0 p-0">
    This site is kept in loving memory of Trish Reske, who passed in October of 2021.<br />
    Trish was a writer - this site captures a bit of her incredible sense of humor.<br />
    You can read Trish's full obituary <a href="https://www.westboroughfuneralhome.com/obituaries/patricia-reske" target="_blank" class="text-[#900] underline">here</a>.
  </p>
</div>
